.architecuralPage .arcgitecuralTop{
    padding: 65px 0 0px;
}
.architecuralPage .arcgitecuralTop .card img {
    border-radius:0px;
    min-height: 101px;
    width: 100%;   
}
.architecuralPage .firstBixHeight .card {
    min-height: 436px;
    border-radius: 0px;
}
.architecuralPage .secondDivHeight .card {
    min-height: 682px;
     border-radius: 0px;
}
.architecuralPage .card {
    background-color: transparent;
    padding: 0px;
    border-radius: 25px;
    margin-top: 25px;
    border: none;
    border: 2px solid #1ac48a;
    border-radius: 13px;
    min-height: 544px;
     box-shadow: 0 8px 12px 0 rgb(14 137 95);
}
.architecuralPage .card a {
    color: #fff;
    text-decoration: none;
}
.architecuralPage .card p {
    padding: 0% 25px;
}
.architecuralPage .banner-text-layer {
    background-color: rgb(0 0 0 / 50%);
    padding: 1% 4%;
}

.architecuralPage .archTechSpeciality{
    color: #fff;
}
.architecuralPage .second-section {
    background: linear-gradient(to right, #0c3e2c , #12282f);
}

.architecuralPage .section-cinematics {
    padding: 40px 0;
    background: linear-gradient(to right, #0c3e2c , #12282f);
}

  /* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    width: 100%;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media only screen and (max-width: 760px) {
.architecuralPage .firstBixHeight .card {
    min-height: auto;
    border-radius: 0px;
}
}